
@{
    ViewBag.Title = "Certify";
}

<!DOCTYPE html>
<html>  
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="certifyBackground">
        <br />
        <h2 align="left" style="padding-left:34px">Certify</h2>
        <fieldset style="padding-bottom:15px;display:inline;margin-left:10px">
            <legend align="left"></legend>
            <center>
                <table>
                    <tr>
                                    
                        <td><select></select></td>
                        <td><input id="adder" type="button" value="Add" /></td>
                        <td><select></select></td>
                        
                    <tr><td colspan="3"><select></select><input id="poster" class="gen-submit" type="submit" value="Submit" style="float:right;" /></td>
                    </tr>
                </table>
            </center>
        </fieldset>
        <br />
        <button style="margin-right:770px; color:white;background-color:red;border:none;padding-top:14px;padding-bottom:14px;padding-left:13px;padding-right:13px;">Back to Profile</button>
    </div>
</body>
</html>

