
@{
    ViewBag.Title = "VerifyUser";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="constructionBackground">
        <br />
        <br />
        <br />
        <br />
        <input type="submit" value="confirm" class="button" style="color:white;background-color:red;padding-right:17px;padding-left:17px;padding-top:6px;padding-bottom:6px;border:none;"/>
        @Html.ActionLink("Cancel", "Welcomee", "Home", null, new { @style = "padding:6px 17px 6px 17px;text-decoration:none;color:white;background-color:red;" })
    </div>
</body>
</html>


