
@{
    ViewBag.Title = "TrendReport";
}

<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="certifyBackground">
        <br />
        <p>
            Generate Report
        </p>
        <button>Report</button>
       
    </div>
</body>
</html>

