
@{
    ViewBag.Title = "Certifications";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="background">
        <h2 align="left" style="margin-top:-500px; margin-left:30px;">Certifications</h2>
        <p></p>
        <button style="margin-right:750px;padding:10px 9px 10px 9px;">Create Certification</button>

        <center>
             <br />
             <fieldset>
                <table>
                    <tr>
                        <th style="padding-right:300px;">
                            Title
                        </th>
                        <th style="padding-right:300px;">
                            Description
                        </th>
                        <th>
                            Active
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>

                        </td>
                        <td>
                            <a href="#" style="margin-left:17px;">Edit</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <br />
        </center>
        <button style="margin-left:800px;padding:10px 19px 10px 19px;">SetUp</button>
    </div>
</body>
</html>

