
@{
    ViewBag.Title = "createCertification";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="background">
        <fieldset style="margin-top:-450px;">
            <p style="margin-right:8px;">Title</p>
            <input type="text"/>
            <p>Description</p>
            <input type="text"/>
            <p>Active</p>
            <input type="checkbox"/>
            <p></p>
            <input type="submit" value="Create" />
        </fieldset>
        <br />
        <button style="padding:10px 15px 10px 15px;">Certifications</button>
    </div>
</body>
</html>


