
@{
    ViewBag.Title = "editCertification";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="background">
        <fieldset style="margin-top:-450px;">
            Title
            <input type="text" align="left" />
            <br />
            <br />
            Description <input type="text" />
            <br />
            <br />
           

            Active
            <input type="checkbox" />
            <br />
            <br />
            <input type="submit" value="Create" />
        </fieldset>
        <br />
        <br />
        <button>Certifications</button>
    </div>
</body>
</html>


