
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Construction";
}
<!DOCTYPE html>
<html>
<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />;
</head>
<body>
    <div id="constructionBackground">
        <p> 
            <br />
            <h2>Under Construction</h2>
            <br />We're very sorry, but this page is currently under construction. Please check back soon for any updates.<br />
            <br />
            <div id="constructionButton">
                <button style="margin-right: 520px">Return to User-Sign in</button>
            </div>
           
        </p>
    </div>
</body>
</html>


